<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Web Store</title>
 
 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../static/css/signup.css">
 
 <script type="text/javascript" src="../static/js/jQuery_v3.3.1.js"></script>
<script type="text/javascript" src="../static/js/dashboard.js"></script>

</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Web Store</h3>
            <nav>
                <ul class="nav nav-pills justify-content-end">
                    <li role="presentation" ><a class="nav-link active" href="#">Dashboard</a></li>
                    <li role="presentation"><a class="nav-link " href="/userHome">My Listing</a></li>
                    <li role="presentation"><a class="nav-link " href="/showSell">Sell Item</a></li>
                    <li role="presentation" ><a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            
        </div>
 
        <div class="jumbotron">
            <h1>Welcome Home !!</h1>
            <div class="well">
                 
                


            </div>
 
        </div>
 
 
        <footer class="footer">
            <p>&copy; Web Store 2015</p>
        </footer>
 
    </div>
</body>
 
</html>