<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Web Store</title>
          <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Web Store</h3>
            <nav>
                <ul class="nav nav-pills justify-content-end">
                    <li role="presentation" class="nav-item "><a class="nav-link active" href="#">Home</a>
                    </li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="#">Sign In</a>
                    </li>
                    <li role="presentation" class="nav-item"><a class="nav-link" href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            
        </div>
 
        <div class="jumbotron">
            <h1>Buy/Sell books online</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Signup</a>
            </p>
        </div>
 
        <div class="row marketing">
           
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                  <img src="../static/imgs/1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Algorithm Design</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-warning">Buy</a>
                  </div>
                </div>  
            </div>  
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                  <img src="../static/imgs/2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Java Programming</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-warning">Buy</a>
                  </div>
                </div>  
            </div> 
            <div class="col-lg-6">
                <div class="card" style="width: 18rem;">
                  <img src="../static/imgs/3.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Operating System Consepts</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-warning">Buy</a>
                  </div>
                </div>  
            </div> 

        </div>
 
         
        </div>
 
        <footer class="footer">
            <p>&copy; Web store 2019</p>
        </footer>
 
    </div>
</body>
 
</html>